
body{
	font-family:'Nunito';
	letter-spacing: .0625em;
	position: relative;
	}

#top-of-page{
	background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 75%,#161616 100%),url(../img/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
	width: 100%;
	height: 100vh;
}
#mainNav{
	position: fixed;
  top: 0;
	left: 0;
	right: 0;
	flex-wrap: nowrap;
	min-height: 56px;
  background-color: #fff;
	z-index:99999999999;
}
.navbar-brand{
	letter-spacing:1px;
	font-weight:700;
	color: #161616;
	
}

.nav-link{
	color: rgba(0,0,0,.5);
	
}

#top-of-page h1 {
	font-family: 'Varela Round';
    font-size: 4rem;
    line-height: 4rem;
		background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#top-of-page h2 {
  width: 20rem;
  font-size: 1rem;
	color: rgba(255,255,255,.5)!important;
}
.btn-custom{
	background-color: #64a19d;
	color: #fff;
	box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}
.btn-custom:hover {
	
    background-color: #4f837f;

}
.btn-custom:active {
	background-color: #467370;

}




.navbar-toggler{
	font-size: 80% !important;
  padding: .75rem !important;
  Color: #64a19d !important;
  border: 1px solid #64a19d !important;
	outline:0 !important;
}
.nav .nav-item{
	/*padding:15px 0;
	padding-left:25px;
	padding-right:10px;*/
	letter-spacing:1px;
}
.navbar-animat{
  background-color: #fff !important;
}
.navbar-animat nav-item{
	padding:0 !important;
	
	}
.navbar-animat nav-link{
	color:rgba(255,255,255,.5) !important;
	
}
.navbar-animat nav-link.active{
	  color: #161616 !important;
}
#about_section{
	padding-top: 15rem;
	background: linear-gradient(to bottom,#161616,rgba(22,22,22,.9),rgba(22,22,22,.8));
	
}
#about_section h2{
	color:#fff;
}
#about_section p{
	color: rgba(255,255,255,.5);
	
}
#about_section p a {
    color: #64a19d;
}
#projects_section{
  padding: 10rem 0;
	background-color: #f8f9fa;
}
input{
	
	font-family: 'Varela Round' !important;
}
#signup_section{
	padding: 10rem 0;
	background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url(../img/bg-signup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
	
}
#contact-section{
	background-color: #131313;
}
.card{
	
	border-bottom:.3rem solid #64a19d;
}
.card i{
	color:#64a19d;
}
.card h4{
	font-size:12px;
	letter-spacing:1.5px;
	font-weight:600;
	
}
.card span{
	font-size:12px;
	color: rgba(0,0,0,.5);
}
#email{
	color:#64a19d !important;
}
#email:hover{
	color:rgba(14,13,13,1.00) !important;
	text-decoration:none;
	
}
#links a{
	width: 45px;
	height: 45px;
	text-align:center;
	line-height:45px;
	margin:0 10px;
	display:inline-block;
	border-radius:50%;
	background-color: rgba(60,58,58,0.64);
	color:rgba(154,154,154,0.83);
	}
	
footer{
	background-color: #131313;
}
footer span{
	color:rgba(255,255,255,.5);
	font-size:13px;
}
@media (min-width: 992px){
#mainNav {
background-color: transparent;
transition: background-color .3s ease-in-out;
}
.navbar-brand{
	
	color: rgba(255,255,255,.5) !important;
	
}
.nav-link{
	color: rgba(255,255,255,.5) !important;
	padding: 1.5rem 1.5rem 1.25rem !important;
}
.navbar-animat a{
	color:#161616 !important;
	
}
.navbar-animat a.active{
	  color: #64a19d !important;
}
#top-of-page h1 {
  font-size: 6.5rem;
  line-height: 6.5rem;
  letter-spacing: .8rem;
}
#top-of-page h2 {
  width: 30rem;
  font-size: 1.25rem;
}
.navbar-animat a.active{
	  color: #64a19d !important;
    border-bottom: .25rem solid #64a19d;
}
}